<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP/NER Toolkit API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon') }}">
    {% block head_css %} {% endblock %}
</head>
<body>

    {% block heading %} {% endblock %}
    {% block content %} {% endblock %}

	<hr />
	<p style="font-family:Arial;color:blue;text-align:right">2020 - 2021, KGET/SoCo/CECS/ANU</p>
</body>
</html>